@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Carter+One&display=swap');

:root {
    --main-color: #0000ff;
    --second-color: #8181ff;
    --bg-primary: #f2f2f2;
    --bg-secondary: #eee;
    --text-color: #000000;
    --shadow: 0px 2px 5px 0 #3e3e3e;
    --img-home: url('../images/img-portafolio.png');
    --shadow-card: rgba(0, 0, 0, 0.509);
    --bg-icons: #e2e2e2;
    --logo-gecins: url('../images/logo-gecin.svg');
    --logo-cienciaco: url('../images/logo-cienciaco.svg');
    --logo-remodelaciones-a: url('../images/logo-remodelaciones-a.svg');
    --logo-diegolargo: url('../images/logo-diegolargo.svg');
}

[data-theme="dark"] {
    --bg-primary: #232323;
    --bg-secondary: linear-gradient(180deg, #19191b, #2d3036);
    --text-color: rgb(255, 255, 255);
    --shadow: 0px 2px 5px 0 #3e3e3e;
    --img-home: url('../images/img-portafolio-dark.png');
    --shadow-card: rgba(255, 255, 255, 0.509);
    --bg-icons: #414141;
    --logo-gecins: url('../images/logo-gecin.svg');
    --logo-cienciaco: url('../images/logo-cienciaco-dark.svg');
    --logo-remodelaciones-a: url('../images/logo-remodelaciones-a-dark.svg');
    --logo-diegolargo: url('../images/logo-diegolargo-dark.svg');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    text-decoration: none;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar {
    width: 1.5rem;
}

html::-webkit-scrollbar-track {
    background: transparent;
}

html::-webkit-scrollbar-thumb {
    background: var(--main-color);
    border-radius: 5rem;
}

::-moz-selection {
    color: #fff;
    background: var(--main-color);
}

::selection {
    color: var(--text-color);
    background: var(--bg-primary);
}

body {
    overflow-x: hidden;
    font-family: 'Ubuntu', sans-serif;
    background: var(--bg-secondary);
    scroll-behavior: smooth;
}

.header {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
}

.header .nav {
    padding: 2rem 7%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: var(--shadow);
    color: var(--text-color);
}

.header .nav .nav-logo {
    display: flex;
    align-items: center;
}

.header .nav .nav-logo img {
    width: 5rem;
    display: block;
}

.header .nav .nav-logo span {
    font-family: 'Carter One', cursive;
    font-size: 3rem;
}

.header .nav .nav-links {
    display: flex;
    gap: 2rem;
    align-items: center;
    transition: all .3s linear;
}

.header .nav .nav-links .nav-links__link {
    font-size: 2rem;
    cursor: pointer;
    transition: all .3s linear;
}

.header .nav .nav-links .nav-links__link:hover {
    color: var(--main-color);
}

.header .nav .nav-links .nav-links__toggle .switch {
    position: relative;
    width: 100px;
    height: 50px;
    background-color: rgba(255, 255, 255, 0.4);
    display: flex;
    justify-content: flex-start;
    border-radius: 50px;
    padding: 1rem;
    cursor: pointer;
    align-items: center;
}

.header .nav .nav-links .nav-links__toggle .switch[data-ison="true"] {
    justify-content: flex-end;
}

.header .nav .nav-links .nav-links__toggle .switch .handle {
    width: 40px;
    height: 40px;
    background-color: white;
    border-radius: 40px;
}

.header .nav .nav-links .nav-links__toggle .switch .sun {
    position: absolute;
    top: 52%;
    left: 25%;
    transform: translate(-20%, -50%);
    font-size: 1.6rem;
}

.header .nav .nav-links .nav-links__toggle .switch .moon {
    position: absolute;
    top: 52%;
    right: 25%;
    transform: translate(20%, -50%);
    font-size: 1.6rem;
}

.header .nav .nav-movile {
    display: none;
}

.header .nav .nav-movile .nav-movile__bar {
    display: block;
    width: 23px;
    height: 3px;
    margin: 4px auto;
    transition: all 0.3s ease-in-out;
    border-radius: 30px;
    background-color: var(--text-color);
}

.header .nav .nav-movile.active .nav-movile__bar:nth-child(2) {
    opacity: 0;
}

.header .nav .nav-movile.active .nav-movile__bar:nth-child(1) {
    transform: translateY(6px) rotate(45deg);
}

.header .nav .nav-movile.active .nav-movile__bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
}

.home {
    display: flex;
    padding: 0 7%;
    width: 100%;
    height: 90vh;
    justify-content: space-between;
    background-color: var(--bg-secondary);
    color: var(--text-color);
}

.home .home-content {
    display: flex;
    width: 50%;
    gap: 2rem;
    flex-direction: column;
    justify-content: center;
}

.home .home-content .home-content-autor {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.home .home-content .home-content-autor>* {
    font-size: 2.5rem;
    font-weight: normal;
}

@keyframes saludar {}

.home .home-content .home-content-autor__info {
    font-size: 3rem;
    font-weight: 800;
}

.home .home-content .home-content__text {
    font-size: 2rem;
    padding-right: 5rem;
}

.home .home-content .home-content__btn {
    display: flex;
    gap: 2rem;
}


.home .home-content .home-content__social svg {
    font-size: 4.5rem;
    padding: 1rem;
    background-color: var(--bg-icons);
    color: var(--text-color);
    border-radius: 1rem;
    margin-right: 1rem;
    transition: all .3s linear;
}

.home .home-content .home-content__social svg:hover {
    transform: scale(1.1);
}

.btn {
    padding: 1.5rem 2rem;
    background: linear-gradient(90deg, var(--main-color) 0%, var(--second-color) 100%);
    color: #fff;
    font-size: 1.5rem;
    font-weight: 600;
    border-radius: 1.5rem;
    transition: all .5s ease-out;
    position: relative;
    cursor: pointer;
}

.btn-nth1 {
    color: #fff;
    text-align: center;
}

.btn:hover .btn-nth2 {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

.btn-nth2 {
    position: absolute;
    border-radius: 1.5rem;
    background-color: var(--main-color);
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
    clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
    transition: clip-path cubic-bezier(0.4, 0, 0.5, 1) .5s;
}

.home .home-img {
    width: 50%;
    max-width: 60vh;
    background: linear-gradient(315deg, var(--main-color) 0%, var(--second-color) 100%);
    overflow: hidden;
    height: 80%;
    max-height: 60vh;
    margin: auto 0;
    box-shadow: 0 0 20px 0 var(--second-color);
}

.home .home-img .img {
    transition: all .3s linear;
    background-image: var(--img-home);
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.subtitle {
    padding: 3rem 7%;
    margin-top: 7rem;
}

.subtitle .subtitle__paragraph {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.subtitle .subtitle__paragraph .subtitle__bar {
    width: 3rem;
    height: .3rem;
    background-color: var(--main-color);
}

.subtitle .subtitle__paragraph p {
    font-size: 3rem;
    font-weight: 800;
    text-transform: capitalize;
    color: var(--text-color);
}

.subtitle .subtitle__paragraph span {
    color: var(--main-color);
    margin-left: 1rem;
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 2.5rem;
    padding: 0 7%;
}

.cards .card {
    background-color: var(--bg-icons);
    height: 20rem;
    border-radius: 2rem;
    padding: 2.5rem 1.5rem;
    overflow: hidden;
    transition: all .3s linear;
    box-shadow: 0 0 10px 0 #00000014;
}

.cards .card:hover {
    box-shadow: 0 0 10px 0 var(--shadow-card);
}

.cards .card h2 {
    font-size: 2rem;
    color: var(--text-color);
    margin-bottom: 1.5rem;
}

.cards .card h2 span {
    color: var(--main-color);
    margin-left: 1rem;
}

.cards .card p {
    font-size: 1.8rem;
    color: var(--text-color);
}

.about {
    padding: 0 7%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.about .about-text {
    font-size: 2rem;
    width: 50%;
    line-height: 170%;
    text-align: justify;
    color: var(--text-color);
}

.about .about-icons {
    display: grid;
    width: 45%;
    grid-template-columns: repeat(auto-fit, minmax(5rem, 1fr));
    gap: 2rem;
}

.about-icons__icon {
    height: 6rem;
    width: 100%;
    max-width: 6rem;
    object-fit: contain;
    padding: 1rem;
    background-color: var(--bg-icons);
    border-radius: 1rem;
    box-shadow: 0 0 10px 0 #00000014;
}

.proyects {
    padding: 0 7%;
}

.proyects .nav-projects {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
    gap: 1rem;
    margin: 3rem 0;
}

.proyects-images {
    overflow: hidden;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 2rem;
    transition: all .3s linear;
}

.proyects-images .projects-images__card {
    position: relative;
    width: 100%;
    max-width: 35rem;
    border-radius: 1.5rem;
    transition: all .3s linear;
    box-shadow: 0 0 10px 0 #00000014;
    margin: auto;
}

.proyects-images .projects-images__card .proyects-images__img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    border-radius: 1.5rem;
}

.proyects-images .projects-images__card .proyects-images__text {
    opacity: 0;
    width: 100%;
    height: 100%;
    color: #fff;
    font-size: 2rem;
    position: absolute;
    left: 0;
    top: 0;
    transition: all .3s linear;
    box-shadow: inset 0 100px 1000px 10px rgb(0 0 0 / 80%);
    border-radius: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.proyects-images .projects-images__card:hover .proyects-images__text {
    opacity: 1;
}

.proyects-images .projects-images__card .proyects-images__text a {
    color: inherit;
}

.client {
    padding: 0 7%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
    gap: 4rem;
    transition: all .3s linear;
}

.client .client-card {
    height: 70px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    cursor: pointer;
}

.client .client-card:nth-child(1) {
    background-image: url(../images/logo-gecin.svg);
}

.client .client-card:nth-child(2) {
    background-image: var(--logo-cienciaco);
}

.client .client-card:nth-child(3) {
    background-image: var(--logo-remodelaciones-a);
}

.client .client-card:nth-child(4) {
    background-image: var(--logo-diegolargo);
}

.contacto {
    padding: 0 7%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10rem;
}

.contacto .contacto-social {
    width: 40%;
    font-size: 2rem;
    line-height: 170%;
    color: var(--text-color);
}

.contacto .contacto-social h3 {
    color: var(--main-color);
    margin: 1rem 0;
}

.contacto .contacto-social a {
    padding: 1rem 1.5rem;
    background-color: var(--bg-icons);
    color: var(--text-color);
    border-radius: 1rem;
    margin-right: 1rem;
}

.contacto .contacto-form {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
}

.contacto .contacto-form h3 {
    font-size: 2.5rem;
    color: var(--text-color);
}

.contacto .contacto-form img {
    width: 150px;
    height: 150px;
}

.contacto .contacto-form input {
    width: 100%;
    font-size: 1.7rem;
    padding: 1rem;
    border-radius: 1rem;
    font-weight: 600;
    background-color: var(--bg-icons);
    color: var(--text-color);
}

.contacto .contacto-form textarea {
    width: 100%;
    font-weight: 600;
    resize: none;
    height: 15rem;
    font-size: 1.7rem;
    border-radius: 1rem;
    padding: 1rem;
    background-color: var(--bg-icons);
    color: var(--text-color);
}

.theme-toggler {
    position: fixed;
    top: 15rem;
    right: -20.5rem;
    background-color: var(--bg-icons);
    z-index: 1000;
    width: 20rem;
    text-align: center;
    border-radius: 0 0 0 10%;
    transition: all .3s linear;
}

.theme-toggler.active {
    right: 0;
}

.theme-toggler h3 {
    color: var(--text-color);
    padding: 1rem 0;
    font-size: 2rem;
}

.theme-toggler .buttons {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1.5rem;
    padding: 1rem;
}

.theme-toggler .buttons .theme-btn {
    height: 4.5rem;
    width: 4.5rem;
    border-radius: 50%;
    cursor: pointer;
}

.theme-toggler .buttons .theme-btn:nth-child(1) {
    background-color: #0000ff;
}

.theme-toggler .buttons .theme-btn:nth-child(2) {
    background-color: #ff0033;
}

.theme-toggler .buttons .theme-btn:nth-child(3) {
    background-color: #007c88;
}

.theme-toggler .buttons .theme-btn:nth-child(4) {
    background-color: #7a00b3;
}

.theme-toggler .buttons .theme-btn:nth-child(5) {
    background-color: #ff9900;
}

.theme-toggler .buttons .theme-btn:nth-child(6) {
    background-color: #009c2f;
    background-color: #15fc5a;
}

.theme-toggler .toggle-btn {
    position: absolute;
    top: 0;
    left: -5.9rem;
    padding: 1.3rem 1.5rem;
    background-color: var(--bg-icons);
    cursor: pointer;
    border-radius: 40% 0 0 40%;
    transition: all .3s linear;
}

.theme-toggler .toggle-btn svg {
    color: var(--text-color);
    font-size: 3rem;
    -webkit-animation: spin 4s linear infinite;
    animation: spin 4s linear infinite;
}

@keyframes lds-ring {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@media (max-width:900px) {

    html {
        font-size: 50%;
    }

    .header .nav .nav-links {
        display: none;
    }

    .header .nav .nav-links.active {
        transform: translate(-4%, 40%);
        display: flex;
        position: absolute;
        top: 0;
        right: 0;
        width: 20rem;
        background: var(--bg-icons);
        padding: 2rem 3rem;
        transform: translate(-4%, 40%);
        z-index: 9999;
        border-radius: 1rem;
        flex-direction: column;
        font-weight: 600;
    }

    .header .nav .nav-movile {
        display: block;
    }
}

@media (max-width:600px) {

    .header {
        height: 100%;
    }
    
    .home {
        flex-direction: column-reverse;
        gap: 2rem;
        justify-content: flex-end;
        height: 100%;
    }

    .home .home-content {
        width: 100%;
        align-items: center;
        text-align: center;
    }

    .home .home-img {
        border-radius: 50%;
        transform: none;
        width: 50%;
        height: 40vw;
        margin: 0 auto;
    }

    .about {
        flex-direction: column;
        gap: 2rem;
    }

    .about .about-text {
        width: 100%;
    }

    .about .about-icons {
        width: 100%;
    }

}